@charset "UFT-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url(../imagens/fundo_edificio-2560x1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.2em;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;    
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

header i.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: 500;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    border:1px solid #00997B25;
    color: #00997B;
    text-align: right;
    padding: 10px;
    border-radius: 25px;
    vertical-align: middle;
    
    flex: 0 0 auto;
  }
  header i.material-symbols-outlined:active {
    background-color: #00997B;
    color: white;
  }

header img#logo_header {
    max-width: 240px;
    padding: 10px;
    text-align: center;

    flex: 0 0 auto;
}

main {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: auto;

    display: block;
}

main > nav.menu {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

main i.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: 500;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    background-color: #ffffff94;
    color: #006954;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    
    flex: 0 0 auto;
  }

  main i.material-symbols-outlined:active {
    background-color: #ffffff9d;
    color: #00997B;
    border:1px solid #00997B25;
  }

footer {
    display: none;
    background-color: white;

    border: 1px dashed green;

    flex: auto;
}
